#root{
  margin: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: black;
  }
  
  .table tr:hover {
    background-color: #f5f5f5;
  }
  
  .table button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .search-input {
    padding: 10px;
    margin-top: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }


  /* form */
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-radius: 8px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-25 {
    flex: 25%; /* This means this column takes up 25% of the parent width */
    padding-right: 10px;
}

.col-75 {
    flex: 75%; /* This means this column takes up 75% of the parent width */
}

label {
    display: block;
    padding: 10px 0;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical; /* allows the user to vertically resize the textarea */
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

  /* end form */

  /* general */
  .list-header{
    display: flex;
    justify-content: space-between;
    
  }
  .list-header > button{
    min-width: 5rem;
    cursor: pointer;
  }
  /* end general */